body {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "content content content"
      "footer footer footer";
  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
  
    height: 100vh;
  }


  header {
    grid-area: header;
    margin-bottom: 20px;
    background-color: hotpink;
    
  }
  
  nav {
    grid-area: nav;   
    background-color: cadetblue;
  }
  
  main {
    grid-area: content;
    width: 100%;
    background-color: burlywood;
  }
  
  
  footer {
    grid-area: footer;
    background-color: coral;
  }



  .column {
    float: right;
    width: 33%;
    margin: 0,5%;
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .centro{
    text-align: center;
  }


  .cabecera img {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .cabecera h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

img{
  width: 90%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-left: 1%;
  margin-left: 1%;
  align-items: center;
  text-align: center;
}

.titulo{
  margin-left: 1%;
}



input, select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.margenEncuesta{
  margin-left: 30%;
  margin-right: 30%;
}

label{
  margin-top: 30%;
}

.margenTop{
  margin-top: 1%;
}